#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

p {
  font-size: 18px;
  padding: 15px 25px;
  border-radius: 8px;
  max-width: 600px;
  transition: background-color 0.3s ease;
}

.highlight {
  background: yellow;
  color: black;
}
